
/* Styling for the typewriter effect */
.typewriter {
  border-right: 0.15em solid #f76591; /* Creates the blinking cursor effect */
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Ensures that the text that goes out of the element is hidden */
  letter-spacing: 0.15em; /* Adds some space between the letters */
  animation: blink 0.75s step-end infinite;
}

/* Blinking cursor effect */
@keyframes blink {
  from, to {
      border-color: transparent; /* The border is transparent at the start and end of each blink cycle */
  }
  50% {
      border-color: #f76591; /* The border is black in the middle of each blink cycle */
  }
}


.autocarrusel-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  min-height: 100vh;
}

/* Content */

.autocarrusel-content {
  padding-left: 120px;
  color: #c7c7c7c9;
}

.autocarrusel-content h1 {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: 700;
  background: -webkit-linear-gradient(0deg, #f76591, #ffc16f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1;
  margin-bottom: 36px;
  padding-left: 10px;
}

.autocarrusel-content p {
  font-size: clamp(0.9rem, 4vw, 1.2rem);
  line-height: 1.6;
  padding-right: 100px;
}

/* Stacked Cards */

.autocarrusel-stack {
  position: relative;
}

.autocarrusel-card {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 350px;
  height: 500px;
  border-radius: 2rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25),
    0 15px 20px 0 rgba(0, 0, 0, 0.125);
  transition: transform 0.6s;
  user-select: none;
}

.autocarrusel-card img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.autocarrusel-card:nth-last-child(n + 5) {
  --x: calc(-50% + 90px);
  transform: translate(var(--x), -50%) scale(0.85);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.01);
}

.autocarrusel-card:nth-last-child(4) {
  --x: calc(-50% + 60px);
  transform: translate(var(--x), -50%) scale(0.9);
}

.autocarrusel-card:nth-last-child(3) {
  --x: calc(-50% + 30px);
  transform: translate(var(--x), -50%) scale(0.95);
}

.autocarrusel-card:nth-last-child(2) {
  --x: calc(-50%);
  transform: translate(var(--x), -50%) scale(1);
}

.autocarrusel-card:nth-last-child(1) {
  --x: calc(-50% - 30px);
  transform: translate(var(--x), -50%) scale(1.05);
}

.autocarrusel-card:nth-last-child(1) img {
  box-shadow: 0 1px 5px 5px rgba(255, 193, 111, 0.5);
}

.autocarrusel-swap {
  animation: swap 1.3s ease-out forwards;
}

@keyframes swap {
  30% {
    transform: translate(calc(var(--x) - 250px), -50%) scale(0.85) rotate(-5deg)
      rotateY(65deg);
  }
  100% {
    transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
    z-index: -1;
  }
}

/* Media queries for keyframes */

@media (max-width: 1200px) {
  @keyframes swap {
    30% {
      transform: translate(calc(var(--x) - 200px), -50%) scale(0.85)
        rotate(-5deg) rotateY(65deg);
    }

    100% {
      transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
      z-index: -1;
    }
  }
}

@media (max-width: 1050px) {
  @keyframes swap {
    30% {
      transform: translate(calc(var(--x) - 150px), -50%) scale(0.85)
        rotate(-5deg) rotateY(65deg);
    }

    100% {
      transform: translate(calc(var(--x) - 30px), -50%) scale(0.5);
      z-index: -1;
    }
  }
}

/* Media queries for other classes */

@media (max-width: 1200px) {
  .autocarrusel-content {
    padding-left: 80px;
  }

  .autocarrusel-content p {
    padding-right: 40px;
  }

  .autocarrusel-card {
    width: 250px;
    height: 380px;
  }
}

@media (max-width: 1050px) {
  .autocarrusel-content {
    padding-left: 60px;
  }

  .autocarrusel-content p {
    line-height: 1.5;
  }

  .autocarrusel-card {
    width: 220px;
    height: 350px;
  }
}

@media (max-width: 990px) {
  .autocarrusel-content p {
    padding-right: 0;
  }

  .autocarrusel-card {
    width: 200px;
    height: 300px;
  }
}

@media (max-width: 950px) {
  .autocarrusel-main {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 3fr;
    grid-template-areas:
      "stacked"
      "content";
  }

  .autocarrusel-content {
    grid-area: content;
    text-align: center;
    padding: 0 90px;
  }

  .autocarrusel-btn {
    margin-bottom: 30px;
  }

  .autocarrusel-stack {
    grid-area: stacked;
  }
}

@media (max-width: 650px) {
  .autocarrusel-main {
    grid-template-rows: 1fr 1fr;
  }

  .autocarrusel-content {
    padding: 0 50px;
  }

  .autocarrusel-content h1 {
    padding-left: 0;
  }

  .autocarrusel-btn {
    padding: 8px 16px;
  }

  .autocarrusel-card {
    width: 180px;
    height: 260px;
  }
}
