


.parallax {
  /* The image used */
  background-image: url("https://eskipaper.com/images/guitars-music-1.jpg");

  /* Set a specific height */
  min-height: 150px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



:root {
    --font-cursive: 'Alex Brush', cursive;
    --font-normal: 'Roboto', sans-serif;
}

.mpe {
    background-color: cadetblue;
}

.banner {
    color: white;
    padding-bottom: 20px;
    padding-top: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#titulo-banner {
    position: relative;
    font-size: 60px;
    font-family: var(--font-cursive) !important;
    font-weight: bold;
    color: #fff;
}

#snow{
    background: none;
    height: 8%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index:0;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}







