<div>
  <div class="row" style="margin-top: -130px;">
    <img width="100%" src="./../../images/services/ebook-banner.png" alt="">
  </div>
  <section class="footer-slider-info" style="text-align: center; position: relative; overflow: hidden; margin-bottom: -226px;">
    <h3 class="animatedText"></h3>
    <div class="row">
      <div class="col-md-10" style="text-align: left;">
        <p>¡Descubramos juntos el maravilloso mundo de la improvisación musical!</p>
        <hr>
        <p><a href="./games.html">Descarga nuestro eBook <b><span style="color: orange; font-weight: bolder;">GRATIS</span> "Filosofía Pitagórica de la Improvisación Musical"</b></a></p>
         <br/>
      </div>
      <div class="col-md-2">
        <img width="380px" style="margin: -60px 0;" src="images/eBook-removebg-preview.png" alt="">
      </div>
    </div>
    <div class="music-notes"></div>
  </section>
</div>
