<section>
  <div class="row" style="text-align: center; background: #222; padding: 50px 5px;">
    <div style="margin: 0 auto; text-align: center;">
      <br/>
      <span>Videojuego Disponible solo para <b>PC/Web</b></span> <br/>
      <a target="_blank" href="https://josegomez-dev.github.io/MusicalPath/" class="btn bg-primary" style="color: black; text-align: center;"><b>JUGAR EL CAMINO MUSICAL</b> </a> <br/><br/><br/>
      <img width="200px" src="images/logos/musicalpathlogo.png" alt="">
    </div>
    <div style="margin: 0 auto; text-align: center;">
      <span>Descarga nuestro e-book <br/> <b>Improvisación Musical Basado en Cuerdas</b></span> <br/>
      <a target="_blank" href="https://online.pubhtml5.com/sllt/aukj/#p=1" class="btn bg-primary" style="color: black; text-align: center;"><b>DESCARGAR E-BOOK</b> </a> <br/><br/>
      <img width="300px" src="images/eBook-removebg-preview.png" alt="">
    </div>
    <div style="margin: 0 auto; text-align: center; opacity: 0.5;">
      <br/>
      <span>Descarga nuestra <b>APP</b></span> (Muy Pronto)<br/>
      <a disabled target="_blank" href="https://t.me/CatarsisMusicalBot/Academia" class="btn bg-primary" style="color: black; text-align: center; opacity: 0.5;"><b>START APP</b> </a> <br/><br/>
      <img width="300px" src="images/mobile.png" alt="">
    </div>

  </div>

  <!-- <div>
    <img width="100%" src="images/musical-path-adv.jpg" alt="">
  </div> -->

</section>

<br/>
<br/>
<br/>
<br/>

<div>
  <div class="row" style="margin-top: -130px;">
    <img width="100%" src="./../../images/services/ebook-banner.png" alt="">
  </div>
  <section class="footer-slider-info" style="text-align: center; position: relative; overflow: hidden; margin-bottom: -226px;">
    <h3 class="animatedText"></h3>
    <div class="row">
      <div class="col-md-10" style="text-align: left;">
        <p>¡Descubramos juntos el maravilloso mundo de la improvisación musical!</p>
        <hr>
        <p><a href="./games.html">Descarga nuestro eBook <b><span style="color: orange; font-weight: bolder;">GRATIS</span> "Filosofía Pitagórica de la Improvisación Musical"</b></a></p>
         <br/>
      </div>
      <div class="col-md-2">
        <img width="380px" style="margin: -60px 0;" src="images/eBook-removebg-preview.png" alt="">
      </div>
    </div>
    <div class="music-notes"></div>
  </section>
</div>
