<div class="container">
  <div class="row justify-content-center mb-5 pb-5">
    <div class="col-md-7 text-center heading-section ftco-animate">
      <span>¡Descubramos juntos el maravilloso mundo de la improvisación musical!</span>
      <h2>Proyectos</h2>
    </div>
  </div>
  <div class="row">

    <div class="text col-md-12">
      <a href="./studio.html">
        <img style="width: 100%;" src="images/home/studio.png" alt="">
      </a>
      <br/>
      <br/>
      <h4 class="subheading">STUDIO |<b> Trascendencia Musical </b></h4>
      <div style="height: 80px; margin-top: -5px; margin-bottom: -35px;">
        <span id="section1" class="animatedTextSection" style="color: orange;"></span>
      </div>
      <h2 class="heading"><a href="./academy.html"><b></b></a></h2>
      <p>
        Un espacio creativo donde la música y el arte audiovisual convergen. Nos especializamos en la producción musical, desde la creación de bandas sonoras hasta el impulso de artistas independientes en crecimiento. En este estudio, transformamos ideas en experiencias sonoras y visuales que trascienden el tiempo.
      </p>
    </div>

    <div class="text col-md-12" style="margin-top: 150px;">
      <a href="./academy.html">
        <img style="width: 100%;" src="images/home/academy.png" alt="">
      </a>
      <br/>
      <br/>
      <h4 class="subheading">Academy |<b> Academia Musical </b></h4>
      <div style="height: 80px; margin-top: -5px; margin-bottom: -35px;">
        <span id="section2" class="animatedTextSection" style="color: orange;"></span>
      </div>
      <p>
        Nuestra academia propone un método innovador que simplifica el aprendizaje musical al enfocarse en los principios esenciales. Basándonos en una nueva perspectiva, promovemos la percepción musical a través de la Filosofía Pitagórica de la Improvisación Musical, explorando cómo las relaciones entre los números y sus significados ancestrales han dado vida a los primeros acercamientos de la música desde tiempos pitagóricos.
      </p>
      <div style="text-align: right;">
        <p>
          <a href="https://online.pubhtml5.com/sllt/aukj/#p=1">Descarga nuestro e-Book <span style="color: orange; font-weight: bolder;">GRATIS</span>
          <b>Filosofía Pitagorica de la Improvisación Musical</b>
          </a>
        </p>
        <p>
          <a href="#">Descarga nuestro e-Book <span style="color: orange; font-weight: bolder;">GRATIS</span>
            <b>Improvisación Musical basado en Cuerdas</b>
          </a>
        </p>
        <p><a href="./academy.html">Ir a <b>Academia Musical...</b></a></p>
      </div>

    </div>

    <div class="text col-md-12" style="margin-top: 150px;">
      <a href="./games.html">
        <img style="width: 100%;" src="images/home/games.png" alt="">
      </a>
      <br/>
      <br/>
      <h4 class="subheading">
        Games |<b> Zona de Juegos </b>
      </h4>
      <div style="height: 80px; margin-top: -5px; margin-bottom: -35px;">
        <span id="section3" class="animatedTextSection" style="color: orange"></span>
      </div>
      <p>
        Un espacio lúdico y educativo diseñado para facilitar la comprensión de la teoría musical de forma divertida y accesible. Nuestro primer juego, "El Camino Musical," aborda los grados musicales, permitiendo a los usuarios aprender y explorar este tema fundamental de manera interactiva. En esta zona, cada juego es una herramienta de aprendizaje que fomenta una comprensión más profunda de la teoría musical.
      </p>
      <div style="text-align: right;">
        <p><a href="./games.html"><b>Jugar <span style="color: orange; font-weight: bolder;">GRATIS</span> "El Camino Musical"</b> (Version Digital)</a></p>
        <p><a href="./games.html"><b>Comprar "El Camino Musical" Juego de Mesa</b> (Version Fisica)</a></p>
      </div>
    </div>

  </div>
</div>
