<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-5 text-center">
        <img style="margin: -400px 0;" width="300px" src="images/logos/doradeogomez.png" alt="">
        <div class="ftco-footer-widget mb-5">
          <ul class="ftco-footer-social list-unstyled">
            <li class="ftco-animate"><a target="true" href="https://www.facebook.com/profile.php?id=61553836722791"><span
                  class="icon-facebook"></span></a>
            </li>
            <li class="ftco-animate"><a target="true" href="https://medium.com/@catarsismusical"><span
                  class="icon-medium"></span></a>
            </li>
            <li class="ftco-animate"><a target="true" href="https://youtube.com/@catarsismusical"><span
                  class="icon-youtube"></span></a>
            </li>
          </ul>
        </div>
        <div class="ftco-footer-widget">
          <h2 class="mb-3">Contactenos</h2>
          <h5>José Alejandro Gómez Castro</h5>
          <p class="h4 email"><a class="secondary-color" href="mailto:josegomez.dev@gmail.com">josegomez.dev@gmail.com</a> <br/> <a href="https://wa.me/50662402974"><b> +506 6240 2974 </b></a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>
