<section class="ftco-section" style="margin-top: -150px;">
  <div class="ftco-animate">
    <div class="row" style="text-align: center; background: #222;">
      <div class="col-md-12">
        <br/>
        <p class="secondary-color">Visita nuestros cursos y recursos musicales gratuitos y de pago.</p>
        <p>Te ayudaremos a desarrollar tus habilidades musicales para convertirte en un <b>Musico 2.0</b>.</p>
        <a target="_blank" href="https://t.me/CatarsisMusicalBot/Academia" class="btn bg-primary" style="color: black;"><b>Únete a nosotros</b> </a> en este emocionante viaje hacia el <b>descubrimiento musical</b>. <br/><br/>
      </div>
    </div>
  </div>
</section>
